* {
  box-sizing: border-box;
  text-transform: uppercase;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(243, 215, 143);
  height: 60px;
  padding: 10px 20px;
  height: 60px;
  padding: 10px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

}

.head h1 {
  font-size: x-large;
  font-weight: bold;
  color: white;
  text-shadow: 4px 3px brown, 3px 2px black;

}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  justify-content: space-between;
  margin: 10px;
  padding-left: 3px;

}

nav ul li a {
  text-decoration: none;
  color: white;
  text-shadow: 2px 1px brown, 1px 2px black;

}

nav ul li button {
  font-size: 16px;
  border: none;
  background-color: transparent;
  color: white;
  text-shadow: 2px 1px brown, 1px 2px black;
}

nav ul li button:hover {
  color: #f39c12;
  transition: 0.6s;
  font-size: large;
  cursor: pointer;
}

nav ul li a:hover {
  color: #f39c12;
  transition: 0.6s;
  font-size: large;

}

.home-page {
  background-image: url('/public/wallpaperflare.com_wallpaper.jpg');
  background-size: cover;
  /* Cover the entire area */
  background-position: center;
  /* Position the image at the center */
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* Horizontally center the text */
  align-items: center;
  /* Vertically center the text */
  text-align: center;
  height: 500px;
  margin-top: 60px;
  width: 100%
}

.home-page h1 {
  font-size: xx-larger;
  color: white;
  text-shadow: 4px 3px brown, 3px 2px black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1%;
  border-radius: 10px;
}

.home-page button {

  border: 2px solid black;
  border-radius: 7px;
  padding: 1%;
}

.home-page button:hover {
  background-color: #f39c12;
  transition: 0.6s;
  font-size: large;
}

.home-page button a {
  text-decoration: none;
  color: rgb(32, 3, 3);
  font-weight: bold;
}

.home-page p {
  font-size: 20px;
  color: white;
  text-shadow: 3px 2px brown, 2px 1px black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1%;
  border-radius: 10px;
}

footer {
  background-color: rgb(243, 215, 143);
  color: aliceblue;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  height: 300px;
  color: black;
}

footer .social-links ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

footer .social-links ul li {
  margin-left: 1.2%;

}

footer .social-links ul li a {
  text-decoration: none;
  text-transform: lowercase;
  font-size: larger;
  color: brown;
}

.tour-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
  align-items: center;
  background-image: url("/public/egypt-hieroglyph-ancient-egypt-hieroglyphs.jpg");
  background-size: cover;
  /* Cover the entire area */
  background-position: center;
  /* Position the image at the center */
  background-repeat: no-repeat;
  text-align: center;
  min-height: 100vh;
  margin-top: 60px;
  width: 100%
}

.tour-list h1 {
  text-shadow: 3px 2px brown, 2px 1px black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 3%;
}

.tour-list input {
  border: 2px solid black;
  border-radius: 5px;
  padding: 1%;
  margin: 1%;
}

.tour-list select {
  border: 2px solid black;
  border-radius: 5px;
  padding: .9%;
  margin: 1%;
}

.tour-list select:hover {
  cursor: pointer;
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tour-item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  height: 400px;
  margin-top: 60px;
  width: 100%;
  background-color: #f1f1f1;
  border: 3px solid black;
  padding: 5px;
  color: black;
  margin: 4%;
  border-radius: 7%;
  max-width: 300px;
}

.tour-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  border-radius: 7% 7% 0 0;
  padding-bottom: 7px;
}

.tours ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 10px;
  justify-content: center;
  align-items: center;
  list-style: none;
  text-align: center;
  color: white;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.tours ul li a {
  text-decoration: none;
  color: red;
  font-weight: bold;
}

.log-in {
  background-color: rgb(212, 163, 72);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  height: 500px;
  width: 100%
}

.log-container {

  background-image: url("/public/egypt-hieroglyph-ancient-egypt-hieroglyphs.jpg");
  padding: 6%;
  margin-top: 3%;
  max-height: 300px;
  border-radius: 5%;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.1);
}

.log-container h2 {
  padding: 3%;
  margin-bottom: 2%;
}

.log-in input {
  border: 2px solid black;
  border-radius: 5px;
  padding: 1%;
  margin: 1%;
  background-color: rgb(212, 163, 72);
  text-transform: none;
}

.log-in ::placeholder {
  color: black;
}

.log-in button {
  border: 2px solid black;
  border-radius: 5px;
  padding: 2%;
  margin-top: 7%;
  font-weight: bold;
  margin-bottom: 2%;
  background-color: rgb(212, 163, 72);

}

.log-in button:hover {
  background-color: #f39c12;
  transition: 0.6s;
  font-size: large;
  cursor: pointer;
}

.log-container a {
  color: rgb(248, 255, 48);
  font-weight: bold;
}

.dashboard {
  background-image: url("/public/abu-simbel-temple-egypt-antique-nile-aswan.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* Horizontally center the text */
  align-items: center;
  /* Vertically center the text */
  text-align: center;
  height: 400px;
  margin-top: 60px;
  width: 100%
}

.dashboard .btn {
  display: flex;
}

.dashboard .btn button {
  margin: 3%;
  padding: 2%;
  font-weight: bold;
  border: none;
  box-shadow: 3px 6px 8px black;
  border-radius: 4%;
  color: black;
  text-shadow: 1px 1px rgb(108, 31, 7);
}

.dashboard .btn button:hover {
  transition: 0.6s;
  font-size: large;
  cursor: pointer;
}

.dashboard h1 {
  color: rgb(113, 40, 1);
  text-shadow: 4px 3px rgb(246, 198, 131), 2px 1px rgb(255, 245, 245);
}

.FunctionalComponent {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* Horizontally center the text */
  align-items: center;
  /* Vertically center the text */
  text-align: center;
  height: 400px;
  margin-top: 60px;
  width: 100%
}

.bookings {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 60px;
  padding: 20px;
}

.bookdetails {
  border: 1px solid #ccc;
  padding: 15px;
  margin: 10px;
  border-radius: 8px;
  width: 300px;
}

.Box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  height: 400px;
  margin-top: 60px;
  width: 100%
}